
body{
    background-color: #51591b;
   }

header{
    position: relative;
    
    width: 100%;
    margin: 0 0 1% -0.5%;
    padding: 0 1% 0 0;
}
footer img{
    width: 40px; height: 40px;
}
#encabezado{background-color: #dc5000;}

.inicio{
     display: flex;
        }

@media screen and (max-width: 420px) {
    .item1 {width: 100%;}
    .inicio{flex-wrap: wrap;}
    .item1Humedal{width: 100%;}
  }
 
@media screen and (min-width: 500px) {
    .item1 {width: 70%;}
    .item2 {width: 30%;}
    .item1Humedal{width: 60%;}
    .item2Humedal{width: 40%;}
    .inicio{flex-wrap: nowrap;}   
  }
  
.item1Humedal{
       text-align: center;
             }
.item2Humedal{
    /* width: 40%; */
    text-align: left;
    padding: 10px;
    color: white;
}
.item2{
    /* width: 30%; */
    padding: 10px;
    color: white;
}
.menu{
     color: aliceblue;
}
.menu ol {
    background-color: #ffbd6d;
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
}

.menuItem {
    display: inline-block;
    padding-right : 20px;
}
.inicio {
    text-align: right;
}
.titulo{
    display: flex;
    flex-grow: 1 9;
}
.tituloPagina{
    font-weight: bold;
    font-size: 2.7rem;
    color: #ffbd6d;
    text-align: center ;
    vertical-align: top;
    margin: 0px;
}
#leoMas{
    display: none;
}
#muestroLeoMas{
    display: block;
    font-size: 1.5rem;
    text-align: right;
}


.citas{
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
}

#descripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-expanded;
    line-height: 140%;
    /* font: Helvetica; */
    font-size: 1.5rem;
    }

h2{
    color:#ffbd6d  
    }

summary{
    color:#ffbd6d;
    font-size: large;

}
cite h2{
    color:white
}
.parrafoHumedal{
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* galeria de imagenes */
.contenedor-galeria{
    display:grid;
    grid-template-columns: 1fr;
    
}

.item-galeria{
    width: 80vw;
    height: 80vh;
}

.imagenes-galeria{
    width: 100%;
    height: 100%;
}
/* Galeria de imagenes */
.slider-container {
    display: flex;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    overflow-x: scroll;
    
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
  }

/*Esto va a ser para las noticias, lo voy a hacer de 0 y luego veo si coincide con algo de lo de arriba.*/
.carta{
    border: solid grey 1px;
}
.contenedor-grid{
    display: grid;
    /* height: 60vh; 
    saco lo de arriba porque se encima el pie de pagina en medio del grid*/
    grid-template-columns: 2fr 5fr 2fr;
}
.contenedor-grid div{
    margin: 0 0 0 0;
}
.contenedor-grid main{
    display: grid;
    height:min-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 3% 0 0 0;
    grid-row-gap: 5%;
}
.item-superior-grid{
    grid-column: 2;
}
.item-principal-grid{
    grid-column: 2; 
}

.item-cartas-grid > a{
    font-family: Helvetica, Arial, sans-serif;
    font: 16px bold;
    color: antiquewhite;
    /* prueba para altura contenedor */
    /* funciono! lo dejo asi */
    height: 60vh;
}

.imagenes-noticias{
    width: 304px;
    /* height: auto; */
}

.formulario{
    color: azure;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #7e1a02;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
input, textarea {
    background-color: #ffbd6d;
    border: 1px solid #ffbd6d;
    color: #000000; 
  }
