body{
    background-color: #51591b;
    /* border: 5px solid rgb(95, 95, 157); */
}
header{
    /* position: fixed; */
    background-color: #dc5000;
}
.inicio{
    /* width: 100vw; */
    /* border: 5px solid darkblue; */
    display: -ms-flex;
    display: -webkit-flex;
    display: flex

}

.menu{
     color: aliceblue;
}
.menu ol {
    background-color: #ffbd6d;
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
}

.menuItem {
    display: inline-block;
    padding-right: 20px;
 }

.tituloPagina{
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffbd6d;
    text-align: center ;
}

.item1{
    /* max-width: 70%; */
    /* border: 5px solid green; */
    width: 70%;

    /* width: 70%; */
    /* background-color: beige; */
}
.item2{
    /* border: 5px solid rgb(244, 236, 10); */
    width: 30%;
    padding: 10px;
    color: white;
}
.citas{
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
}
#descripcion{
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-size: 1.5rem;
    }
.item1Humedal{
    width: 60%;
    text-align: center;
    size-adjust: 80%;
    /* height: "100%";
    width :"100%"; */
}
.item2Humedal{
    /* border: 5px solid rgb(244, 236, 10); */
    width: 40%;
    /* padding: 10px; */
    color: white;
}
